@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   scroll-behavior: smooth;
}
 body {
    font-family: 'Quicksand', sans-serif;
 } 
 .container {
    
   max-width: 1000px;
   margin: auto;
 }
 /* ulitiy classes */
 .primary-text {
   color: #dd9f18;}

 .btn {
   display: inline-block;
   padding: 15px 30px ;
   border: none;
   border-radius: 15px;
 }
 .btn-secondary {
   color: #ffff;
   background-color: #383848;
   margin-top: 2rem;

 }
 .btn-primary {
   color: #ffff;
   border: #ffff solid 1px;

 }
 .btn-primary:hover ,
 .btn-secondary:hover
  {
   background-color: #ffac06;
 }

 /* header start  */
 header{
   height: 100vh;
   background: url(img/home_bg.jpeg)  center/cover no-repeat;
   position: relative;
 }
 #navbar img {
    width: 80px;
    margin-left: 100px;
 }
 #navbar  {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 ul{
    list-style: none;
 }
 a{
    text-decoration: none;    
 }
 #navbar ul{
    display: flex;
    margin-right: 100px;
 }
 #navbar ul li a {
    padding: 15px 20px;
    color: #ffff;
    font-weight: 600;
 }
 
 #navbar ul li a:hover{
    border-bottom: 2px solid orange;
    
 }
#div1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 75vh;
}
header #div1 h1 {
   font-size: 40px;
   color: #ffff;
}
header #div1 p {
  
   margin: 20px 0px 40px ;
   color: #fcfcfc;
}
header::before {
   content: "";
   position: absolute;
   top: 0%;
   left: 0%;
   height: 100%;
   width: 100%;
   background-color: rgb(0,0,0,0.5);
}
header * {
   z-index:  10;
}

 /* header end  */
 /* about start */
 .about {
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #ffff;
 }
#about .title 
 {
   text-align: center;
   margin-bottom: 4rem;
}
#about h2 {
   font-size: 40px;
   color: #383848;
   margin-bottom: 20px;

}
#about .title p {
   font-size: 14px;
   color: #9a9a9a;
   font-weight: 700;
}
#about .about-content{
   display: flex;
   justify-content: space-between;
} 
#about .about-content img {
   width: 440px;
}
#about .about-content p {
   color: #9a9a9a;
   margin-bottom: 10px;
   margin-right: 7rem;
   font-weight: 500;
   line-break: 1.6;
}
 /* about end */
 /* offers start */
#offers {
   background: url(img/offer-background.jpg) center center/cover fixed ;
   height: 80vh;

}
.offers-items{
   display: flex;
   justify-content: center;
   justify-content: space-between;
   text-align: center;
   color: #ffff;
   
}
.title {
  text-align: center;
  margin-bottom: 28px;
}
.title  h2 {
   font-size: 40px;
   color: #dd9f18;
   margin-bottom: 1.6rem;
   
}
#offers .offers-items img {

   width: 200px;
}
#offers .offers-items h3{
   margin: 15px 0;
   font-size: 25px;
}
#offers .offers-items p {
   font-size: 14px;
   padding: 0 20px;
   font-weight: 300;
   margin-bottom: 15px;

}
#offers .offers-items span{
   font-size: 18px;
   font-weight: 600;
   margin-left: 5px;
}

 /* offers end */
 /* menu start */

 #menu {
   background-color: #fff1f1;
   padding: 5rem 0;
 }

 #menu h2{
   color: #5b5b66;
 }
 #menu p{
   font-weight: 600;
 }
.menu-items {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;

 }
 .menu-items .menu-item img {
   width: 80px;
   border-radius: 50%;
   margin-right: 20px;
 }
.menu-items .menu-item {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 40px;
   
 }
 .menu-items .menu-item h3 {
   color: #383848;
   border-bottom: 1px dashed #5b5b66;
   padding-bottom: 10px;
   margin-bottom: 10px;
   position: relative;
   
   
 }
 .menu-items .menu-item span {
   position: absolute;
   top: 0;
   right: 0;
 }
 .menu-items .menu-item p {
   font-size: 22px;
 }
 #menu .btn  {
   background-color: #dd9f18;
   color: #ffff;
   display: block;
   margin: 20px auto 0;
   cursor: pointer;
   
 }
 #menu .btn :hover {
   background-color: #383848;
 }
 

 /* menu  end */

/* daytime start  */
#daytime {
   background: url(img/daytime_bg.jpeg  ) center center/cover fixed;
   color: #ffff;
   align-items: center;
   text-align: center;
   
 }
 #daytime .daytime-items {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 40vb;
   
 } 
 #daytime .daytime-items h3 {
   font-size: 30px;
   margin: 20px 0 10px;
 }
 #daytime .daytime-items p {
   font-weight: 500;
  
 }
 

/* daytaime :end */
/* gallery start  */
#gallery {
   background: url(img/offer-background.jpg) center center/cover  fixed;
   padding: 8rem 0 6rem;
}

 .img-gallery img {
   width: 280px;
   height: 200px;
   border-radius:15px ;
   margin: 20px;
   opacity: 0.8;
}
.img-gallery img:hover {
   opacity: 1;
}
#gallery h1 {
   font-size: 40px;
   color: #ffff;
   text-align: center;
   margin-bottom: 110px;
}
.img-gallery {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   
}

 /* gallery end */
 /* contact start  */
 #contact {
   padding: 5rem 0;
   color: #fff1f1;
 }
 .contact-info{
   color: #383848;
 }
 #contact .container{
   max-width: 900px;
 }
 #contact .contact-content {
   display: flex;
   justify-content: space-evenly;
   align-items: center ;
 }
 #contact .contact-content .contact-info{
   width: 50%;
 }
 #contact .contact-content .contact-info div {
   margin: 30px 0;
   line-height: 1.7;
 }
 #contact .contact-content .contact-info h3 {
   font-size: 30px;
   margin-bottom: 10px;
   color: #383848;
 }
 #contact .contact-content .contact-info p {
   color: #5b5b66;
 }
 #contact .contact-content .contact-info i{
   color: #ffac06;
   margin-right: 5px;
 }
 #contact .contact-content .contact-info a i {
   color: #ffff;
   background-color: #525151;
   padding: 15px;
   border-radius: 50%;
   font-size: 20px;
   width: 22px;
   height: 22px;
   margin-right: 2px;
   
 }
 #contact .contact-content .contact-info a i :hover{
   background-color: #dd9f18;
 }
 form {
   width: 50%;

 }
 form input ,
 textarea {
   display: block;
   width: 100%;
   padding: 20px 15px ;
   margin: 20px 0;
   border: none;
   background-color: #dedee2;
 }
form .btn {
   background-color: #ffac06;
   color: #dedee2;
   cursor: pointer;
 }
 form .btn:hover{
   background-color: #525151;
   
 }
  /* contact end */
 /* foooter start  */
 #footer {
   text-align: center;
   background-color: #383848;
   padding: 15px 0;
   color: #fff1f1;
   font-size: 15px;
   
 }
 /* foooter end  */


